* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-size: cover;
    color: rgb(26, 19, 19);
}
header {
    display: flex;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5em;
    width: 100%;
}
#img {
    width: 100vw;
    margin: 1% 0% 0% 3%;
    }
ul {
    display: flex;
    align-items: end;
}
#li1, #li2, #li3 ,#li4, #li5 {
    padding: 0.8vw;
    justify-items: center;
    border-radius:5vw;
    background-color: #eee;
    margin-right: 5vw;
    color: black;
    box-sizing: border-box;
    border-bottom: 0.5vh solid blue;
    list-style: none;
}
a {
    text-decoration: none;
}
#servicenav {
    display: block;
    position: absolute;
    margin: 14% 0 0 55.5%;
    background-color: #f9f6f6;
    padding: 1vw 1vw 1vw 1vw;
    text-align: center;
    border-radius: 10%;
    color: #000;
}
#a, #b {
    border-radius: 50% ;
    color: #eee;
}
#mobile {
    display:none;
}
.h {
    margin: 1% 0 0 2%;
    color: #ff6b35;
}
footer {
    display: block;
    background-image: url(background1.jpeg);
    background-size: cover;
    color: white;
}
#pic1 {
    width: 100%;
    height: 1vh;
}
main {
    background-color: whitesmoke;
    color: black;
    
}
#div1 {
    display: flex;
    background-image: url(background1.jpeg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: 2;
}
#description {
    width: 100%;
    margin: 20vw 0% 10% 12%;
}
#img_description {
    margin: 13vw 15vw 0vw 0vw;
}
#hero_pic {
    z-index: 1;
    width: 35vw;
    border-radius: 5%;
}
#hero_pic2 {
    width: 100%;

}
#desktop {
    padding: 1vw 0 0 25vw;
    display: flexbox;
}
#div2 {
    justify-items: center;
    align-items: center;
    text-align: center;
}
.services {
    display: flex;
}
#major {
    display: none;
    }
#service1, #service2, #service3 {
    background-color: #ddd;
    color: black;
    height: 15vw;
    width: 15vw;
    justify-items: center;
    text-align: center;
    align-content: center;
    border-style: inset;
    border-radius: 20%;
    box-shadow: 5px 5px 10px lightblue;

}
#service2, #service3 {
    margin-left: 8vw;
}
#div3 {
    height: 20vw;
    background-color:white;
    text-align: center;
    align-content: center;
}

#service1:hover, #service2:hover, #service3:hover {
    background-color: whitesmoke;
    border-style: outset;
    transform: translateY(3vw);
}
#li1:hover, #li2:hover, #li3:hover, #li4:hover, #li5:hover {
    border: none;
    box-shadow: none;
    transform: translateY(1%);
    transform: translateX(1%);
}
#services:hover #major {
    display: flex;
}
#about, #social {
    margin: 0vw 0 2vw 12vw;
}
#about {
    padding-top: 5vw;
}
.social {
    width: 2vw;
    margin:1vw 1vw 1vw 0vw;
}




@media screen and (max-width: 768px) {
        #desktop {
        display: none;

    }
    
}